
<table class="table table-striped text-center">
    <thead>
        <tr>            
            <th>Descripcion</th>
            <th>Dificultad</th>
            <th>Horas previstas</th>
            <th>Horas realizadas</th>
            <th>Progreso</th>
            <th>Completada</th>
            <th>Asignada</th>
        </tr>
    </thead>
    <tbody>        
        @for (tarea of tasks; track tarea.id) {
            <tr>                
                <td>{{tarea.descripcion}}</td>
                <td>{{tarea.dificultad}}</td>        
                <td>{{tarea.horas_previstas}}</td>
                <td>{{tarea.horas_realizadas}}</td>     
                <td>{{tarea.porcentage_realizacion}}%</td>
                @if(tarea.completada == 0){
                    <td>No</td>
                }@else{
                    <td>Si</td>
                }     
                @if(tarea.asignada == null){
                    <td>No</td>
                }@else{
                    <td>Si</td>
                }
            </tr>
            }
    </tbody>
</table>